<html>
	<head>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
		<title>TrialX demo app</title>
	</head>
	<body>
		<div class="container">
			<div class="page-header"><h3>{{ trial.title }}</h3></div>
			<p class="lead">This trial is in <strong>{% if trial.phase %} Phase {{ trial.phase }}{% else %}an unknown phase{% endif %}</strong>, for the condition(s) <strong>{% if trial.condition %} {{ trial.condition }}{% else %} an unknown condition{% endif %}</strong>. It is an <strong>{{ trial.get_study_type_display }}</strong> trial.</p>
			<h4>Locations</h4>
			{% for site in trial.clinicaltrialsite_set.all %}
			<div class="well well-sm">
				<strong>{{ site.sitename }}</strong><br>
				{% if site.address %}{{ site.address }}<br>{% endif %}
				{% if site.city %}{{ site.city }},{% endif %} {% if site.state %}{{ site.state }} {% endif %} {% if site.zipcode %}{{ site.zipcode }} {% endif %}
			</div>
			{% endfor %}
			<a href="{{ trial.url }}"><button type="button" class="btn btn-primary">View this trial on TrialX.com</button></a> <a href="{% url 'random_trial' %}"><button type="button" class="btn btn-default">Show me another trial</button></a>
		</div>
	</body>
</html>